@import '../../base.scss';

.pagination-container {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  font-size: 1rem;
  gap: 6px;
  flex-wrap: wrap;

  .pagination-link {
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: bold;

    &:hover {
      background-color: $secondary-color;
      color: white;
      text-decoration: none;
    }
  }

  .pagination-active-link {
    background-color: $secondary-color;
    color: white;
  }
}

.recipe-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 20rem));
  grid-gap: 1rem;
  padding: 1rem;
  justify-content: center;
}