@import '../../base.scss';

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  flex-direction: column;
  height: 100vh;
  padding: 1em;

  background-image:
    linear-gradient(rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.3)),
    url('../../assets/images/vegetarian-recipe.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  h1 {
    font-size: 4em;
    margin-bottom: 0.5em;
  }

  button {
    text-transform: uppercase;
  }
}