@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$font-stack: 'Montserrat', 'Arial', sans-serif;
$primary-color: #42855B;
$secondary-color: #85aa61;
$text-color: #483838;
$darker-primary-color: #2e6d45;
$light-secondary-color: #b5cf92;
$light-color: #ecf7ed;
$footer-color: #35774d;